@using MyLibrary.ViewModels
@model BookDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container container-fluid">
    <div class="row">
        <div class="pull-left">
            <img id="coverBookImage" src="@Model.ImageUrl" alt=""/>
        </div>
        <div class="col-sm-8">
            <h1>@Model.Title</h1>
            <h4>by @Model.Author</h4>
            <h1>Description:</h1>
            <p style="margin-left: 2em">@Model.Description</p>
            <div>
                <strong>Status: </strong><strong id="status">@Model.Status</strong>
            </div>
            <br />
            <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" onclick="messageBox()">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function messageBox() {
            return confirm('Are you sure you want to delete?');
        }
    </script>
}